header {
  width: 100%;
  height: 100px;
  background-color: rgb(17, 24, 54);
}

.menu {
  display: flex;
  height: 100%;
  align-items: center;
}

.menu > span > a {
  color: white;
  font-size: 24px;
}

.menu a {
  text-decoration: none;
}

.logo_wrapper {
  display: flex;
  align-items: center;
}

a .logo_wrapper div {
  display: flex;
  flex-direction: column;
}

.logo_wrapper span {
  color: white;
}

.menu_logo {
  background-image: url("../imgs/logo.png");
  background-size: contain;
  width: 80px;
  height: 80px;
}

.menu > span:not(:last-of-type) {
  margin: 0 70px;
}

.dh-myinfo {
  text-decoration: none;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-color: rgba(17, 24, 54, 0.582);
  left: -60px;
  top: 33px;
}

.dh-myinfo a {
  font-size: 13px;
  margin-bottom: 15px;
  color: white;
}

.dh-user {
  position: relative;
  margin-left: 250px;
}

.dh-user i {
  font-size: 30px;
  color: white;
  cursor: pointer;
  padding: 5px;
}
