header {
  width: 100%;
  height: 100px;
  background-color: rgb(17, 24, 54);
}

.menu {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.logo_wrapper a:last-child {
  display: flex;
  flex-direction: column;
}

.logo_wrapper span {
  color: white;
}

.menu_logo {
  background-image: url("../imgs/logo.png");
  background-size: contain;
  width: 80px;
  height: 80px;
}
