@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Poor+Story&family=Stylish&display=swap&family=Girassol&display=swap");

.header_screen {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #111836d0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header_screen i {
  position: absolute;
  margin: 20px;
  font-size: 50px;
  color: #000000a9;
  cursor: pointer;
  height: 80%;
  display: flex;
  align-items: center;
  z-index: 1;
  height: 100%;
  opacity: 0.6;
}

#scrn_next {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #091020);
}

#scrn_prev {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #091020);
}

.header_screen i:hover {
  transition: opacity 0.3s;
  opacity: 1;
}

.main_scrn {
  width: 100%;
  height: 100%;
}

.main_scrn img {
  width: 100%;
  height: 100%;
  opacity: 0.65;
}

#scrn_prev {
  top: -20px;
  left: -20px;
  padding-left: 100px;
  padding-right: 200px;
}

#scrn_next {
  padding-left: 200px;
  padding-right: 100px;
  top: -20px;
  right: -20px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_top {
  width: 1700px;
  height: 500px;
  margin-top: 30px;
}

.main_top {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-bottom: 5px;
}

.main_top div {
  width: 470px;
}

.main_top div:not(:last-of-type) {
  margin-right: 75px;
}

.playerDesc {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.playerDesc span {
  font-size: 16px;
  font-family: "Poor Story", cursive;
}

.playerDesc h3 {
  font-size: 40px;
}

.playerDesc h2 {
  font-size: 50px;
  margin-bottom: 90px;
}

.playerDesc h3,
.playerDesc h2 {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  opacity: 0.8;
}

.playerDesc h1 {
  display: flex;
  justify-content: center;
  font-family: "Girassol", cursive;
  font-size: 60px;
  margin-bottom: 70px;
}

.playerDesc h4 {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Stylish", sans-serif;
  opacity: 0.75;
}

.main_top div:last-of-type {
  background-color: inherit;
  background-image: url("../imgs/main/bestPlayer.png");
  background-size: cover;
  background-position: center;
}

.main_bot {
  margin-top: 5px;
  width: 100%;
  height: 200px;
  border-top: 1px solid #f0f0f0;
  background-color: #fafafa;
}

.playerVideo {
  display: flex;
  align-items: center;
  position: relative;
}

.playerVideo img {
  width: 100%;
}

.playerVideo i {
  position: absolute;
  color: white;
  font-size: 50px;
  left: 210px;
  opacity: 0.4;
}

.playerVideo i:hover {
  opacity: 0.9;
  cursor: pointer;
}

.icon-scroll,
.i_scroll_before,
.i_scroll_after {
  position: absolute;
  right: 170px;
}

.icon-scroll {
  width: 30px;
  height: 60px;
  margin-left: -20px;
  top: 60%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
  opacity: 0.4;
}
.i_scroll_before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 3px;
  border-radius: 10px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scrollDown;
  right: 11px;
}

.i_scroll_after {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  bottom: 3px;
  border-radius: 10px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scrollUp;
  right: 11px;
}

@keyframes scrollDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

@keyframes scrollUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-46px);
  }
}
