@import url("footer.css");
@import url("header.css");
@import url("scroll.css");

* {
  box-sizing: border-box;
}

body {
  width: 1920px;
  margin: 0;
}

#grand {
  height: calc(100vh - 150px);
}

.wishlist {
  display: flex;
  align-items: center;
  justify-content: center;
}
